
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myChannelsLabel" data-translate="abstractApp.channels.home.createOrEditLabel">Create or edit a Channels</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.channels.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.channels.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.channels.channel" for="field_channel">Channel</label>
            <input type="text" class="form-control" name="channel" id="field_channel"
                    ng-model="vm.channels.channel"
                    required />
            <div ng-show="editForm.channel.$invalid">
                <p class="help-block"
                    ng-show="editForm.channel.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.channels.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.channels.description"
                    ng-maxlength="200" />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="abstractApp.channels.streamer" for="field_streamer">Streamer</label>
            <select class="form-control" id="field_streamer" multiple name="streamer" ng-model="vm.channels.streamers" ng-options="streamer as streamer.nameStreamer for streamer in vm.streamers track by streamer.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
