
<div>
    <h2><span data-translate="abstractApp.audioTag.detail.title">Audio Tag</span> {{vm.audioTag.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.audioTag.typeStream">Type Stream</span></dt>
        <dd>
            <span>{{vm.audioTag.typeStream}}</span>
        </dd>
        <dt><span data-translate="abstractApp.audioTag.valeur">Valeur</span></dt>
        <dd>
            <span>{{vm.audioTag.valeur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.audioTag.streamer">Streamer</span></dt>
        <dd>
            <span>{{vm.audioTag.streamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.audioTag.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.audioTag.dateSup | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="audio-tagmyAbstract-detail.edit({id:vm.audioTag.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
