
<div>
    <h2><span data-translate="abstractApp.majorVersion.detail.title">Major Version</span> {{vm.majorVersion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.majorVersion.valeur">Valeur</span></dt>
        <dd>
            <span>{{vm.majorVersion.valeur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.majorVersion.streamer">Streamer</span></dt>
        <dd>
            <span>{{vm.majorVersion.streamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.majorVersion.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.majorVersion.dateSup | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="major-versionmyAbstract-detail.edit({id:vm.majorVersion.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
