
<div>
    <h2><span data-translate="abstractApp.maxHeight.detail.title">Max Height</span> {{vm.maxHeight.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.maxHeight.typeStream">Type Stream</span></dt>
        <dd>
            <span>{{vm.maxHeight.typeStream}}</span>
        </dd>
        <dt><span data-translate="abstractApp.maxHeight.streamer">Streamer</span></dt>
        <dd>
            <span>{{vm.maxHeight.streamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.maxHeight.valeur">Valeur</span></dt>
        <dd>
            <span>{{vm.maxHeight.valeur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.maxHeight.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.maxHeight.dateSup | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="max-heightmyAbstract-detail.edit({id:vm.maxHeight.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
