
<div>
    <h2><span data-translate="abstractApp.channels.detail.title">Channels</span> {{vm.channels.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.channels.channel">Channel</span></dt>
        <dd>
            <span>{{vm.channels.channel}}</span>
        </dd>
        <dt><span data-translate="abstractApp.channels.description">Description</span></dt>
        <dd>
            <span>{{vm.channels.description}}</span>
        </dd>
        <dt><span data-translate="abstractApp.channels.streamer">Streamer</span></dt>
        <dd>
            <span ng-repeat="streamer in vm.channels.streamers">
                <a ui-sref="streamermyAbstract-detail({id: streamer.id})">{{streamer.nameStreamer}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="channelsmyAbstract-detail.edit({id:vm.channels.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
