
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCorruptManifestLabel" data-translate="abstractApp.corruptManifest.home.createOrEditLabel">Create or edit a Corrupt Manifest</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.corruptManifest.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.corruptManifest.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.corruptManifest.dateManifest" for="field_dateManifest">Date Manifest</label>
                <div class="input-group">
                    <input id="field_dateManifest" type="text" class="form-control" name="dateManifest" datetime-picker="{{dateformat}}" ng-model="vm.corruptManifest.dateManifest" is-open="vm.datePickerOpenStatus.dateManifest"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateManifest')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.corruptManifest.command" for="field_command">Command</label>
            <input type="text" class="form-control" name="command" id="field_command"
                    ng-model="vm.corruptManifest.command"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.corruptManifest.profil" for="field_profil">Profil</label>
            <input type="text" class="form-control" name="profil" id="field_profil"
                    ng-model="vm.corruptManifest.profil"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setFile($file, vm.corruptManifest)">
            <label class="control-label" data-translate="abstractApp.corruptManifest.file" for="field_file">File</label>
            <div>
                <div ng-if="vm.corruptManifest.file" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.corruptManifest.fileContentType, vm.corruptManifest.file)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.corruptManifest.fileContentType}}, {{vm.byteSize(vm.corruptManifest.file)}}</span>
                    <button type="button" ng-click="vm.corruptManifest.file=null;vm.corruptManifest.fileContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setFile($file, vm.corruptManifest)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="file" id="field_file"
                    ng-model="vm.corruptManifest.file"
                     />
            <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                    ng-model="vm.corruptManifest.fileContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.corruptManifest.errors" for="field_errors">Errors</label>
            <input type="text" class="form-control" name="errors" id="field_errors"
                    ng-model="vm.corruptManifest.errors"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
