<div>
    <h2 data-translate="abstractApp.corruptManifest.home.title">Corrupt Manifests</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="corrupt-manifestmyAbstract.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="abstractApp.corruptManifest.home.createLabel">
                        Create new Corrupt Manifest
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'abstractApp.corruptManifest.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateManifest"><span data-translate="abstractApp.corruptManifest.dateManifest">Date Manifest</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="command"><span data-translate="abstractApp.corruptManifest.command">Command</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="profil"><span data-translate="abstractApp.corruptManifest.profil">Profil</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="file"><span data-translate="abstractApp.corruptManifest.file">File</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="errors"><span data-translate="abstractApp.corruptManifest.errors">Errors</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="corruptManifest in vm.corruptManifests track by corruptManifest.id">
                    <td><a ui-sref="corrupt-manifestmyAbstract-detail({id:corruptManifest.id})">{{corruptManifest.id}}</a></td>
                    <td>{{corruptManifest.dateManifest | date:'medium'}}</td>
                    <td>{{corruptManifest.command}}</td>
                    <td>{{corruptManifest.profil}}</td>
                    <td>
                        <a ng-if="corruptManifest.file" ng-click="vm.openFile(corruptManifest.fileContentType, corruptManifest.file)" data-translate="entity.action.open">open</a>
                        <span ng-if="corruptManifest.file">{{corruptManifest.fileContentType}}, {{vm.byteSize(corruptManifest.file)}}</span>
                    </td>
                    <td>{{corruptManifest.errors}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="corrupt-manifestmyAbstract-detail({id:corruptManifest.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="corrupt-manifestmyAbstract.edit({id:corruptManifest.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="corrupt-manifestmyAbstract.delete({id:corruptManifest.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
