
<div>
    <h2><span data-translate="abstractApp.corruptManifest.detail.title">Corrupt Manifest</span> {{vm.corruptManifest.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.corruptManifest.dateManifest">Date Manifest</span></dt>
        <dd>
            <span>{{vm.corruptManifest.dateManifest | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="abstractApp.corruptManifest.command">Command</span></dt>
        <dd>
            <span>{{vm.corruptManifest.command}}</span>
        </dd>
        <dt><span data-translate="abstractApp.corruptManifest.profil">Profil</span></dt>
        <dd>
            <span>{{vm.corruptManifest.profil}}</span>
        </dd>
        <dt><span data-translate="abstractApp.corruptManifest.file">File</span></dt>
        <dd>
            <div ng-if="vm.corruptManifest.file">
                <a ng-click="vm.openFile(vm.corruptManifest.fileContentType, vm.corruptManifest.file)" data-translate="entity.action.open">open</a>
                {{vm.corruptManifest.fileContentType}}, {{vm.byteSize(vm.corruptManifest.file)}}
            </div>
        </dd>
        <dt><span data-translate="abstractApp.corruptManifest.errors">Errors</span></dt>
        <dd>
            <span>{{vm.corruptManifest.errors}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="corrupt-manifestmyAbstract-detail.edit({id:vm.corruptManifest.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
