
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myManifestDataLabel" data-translate="abstractApp.manifestData.home.createOrEditLabel">Create or edit a Manifest Data</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.manifestData.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.manifestData.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.manifestData.attribut" for="field_attribut">Attribut</label>
            <input type="text" class="form-control" name="attribut" id="field_attribut"
                    ng-model="vm.manifestData.attribut"
                    required />
            <div ng-show="editForm.attribut.$invalid">
                <p class="help-block"
                    ng-show="editForm.attribut.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.manifestData.valeurAttendue" for="field_valeurAttendue">Valeur Attendue</label>
            <input type="text" class="form-control" name="valeurAttendue" id="field_valeurAttendue"
                    ng-model="vm.manifestData.valeurAttendue"
                    required />
            <div ng-show="editForm.valeurAttendue.$invalid">
                <p class="help-block"
                    ng-show="editForm.valeurAttendue.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.manifestData.messageErreur" for="field_messageErreur">Message Erreur</label>
                    <textarea class="form-control" cols="40"  name="messageErreur" id="field_messageErreur"
                                            ng-model="vm.manifestData.messageErreur" placeholder="Contenu de la description" rows="5" required="true"></textarea>

            <div ng-show="editForm.messageErreur.$invalid">
                <p class="help-block"
                    ng-show="editForm.messageErreur.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.manifestData.details" for="field_details">Details</label>
                     <textarea class="form-control" cols="40"  name="details" id="field_details"
                                             ng-model="vm.manifestData.details" placeholder="Contenu de la description" rows="5"></textarea>

        </div>

        <div class="form-group">
            <label data-translate="abstractApp.manifestData.nivImportance" for="field_nivImportance">Niv Importance</label>
            <select class="form-control" id="field_nivImportance" name="nivImportance" ng-model="vm.manifestData.nivImportanceId" ng-options="importance.id as importance.niveau for importance in vm.importances"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
