<div>
    <h2 data-translate="abstractApp.playing.home.title">Playings</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="playingmyAbstract.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="abstractApp.playing.home.createLabel">
                        Create new Playing
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'abstractApp.playing.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="abstractApp.playing.commande">Commande</span></th>
                    <th><span data-translate="abstractApp.playing.link">Link</span></th>
                    <th><span data-translate="abstractApp.playing.fileTest">File Test</span></th>
                    <th><span data-translate="abstractApp.playing.listchannels">Listchannels</span></th>
                    <th><span data-translate="abstractApp.playing.theMode">The Mode</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="playing in vm.playings track by playing.id">
                    <td><a ui-sref="playingmyAbstract-detail({id:playing.id})">{{playing.id}}</a></td>
                    <td data-translate="{{'abstractApp.Commandes.' + playing.commande}}">{{playing.commande}}</td>
                    <td>{{playing.link}}</td>
                    <td>
                        <a ng-if="playing.fileTest" ng-click="vm.openFile(playing.fileTestContentType, playing.fileTest)" data-translate="entity.action.open">open</a>
                        <span ng-if="playing.fileTest">{{playing.fileTestContentType}}, {{vm.byteSize(playing.fileTest)}}</span>
                    </td>
                    <td>
                        <span ng-repeat="listchannels in playing.listchannels">
                            <a class="form-control-static" ui-sref="channelsmyAbstract-detail({id: listchannels.id})">{{listchannels.channel}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <a ui-sref="modemyAbstract-detail({id:playing.theModeId})">{{playing.theModeName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="playingmyAbstract-detail({id:playing.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="playingmyAbstract.edit({id:playing.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="playingmyAbstract.delete({id:playing.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
