
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMonitoringLabel" data-translate="abstractApp.monitoring.home.createOrEditLabel">Create or edit a Monitoring</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.monitoring.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.monitoring.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.monitoring.attribut" for="field_attribut">Attribut</label>
            <input type="text" class="form-control" name="attribut" id="field_attribut"
                    ng-model="vm.monitoring.attribut"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.monitoring.severite" for="field_severite">Severite</label>
            <input type="text" class="form-control" name="severite" id="field_severite"
                    ng-model="vm.monitoring.severite"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.monitoring.importance" for="field_importance">Importance</label>
            <input type="text" class="form-control" name="importance" id="field_importance"
                    ng-model="vm.monitoring.importance"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.monitoring.valeurAttendue" for="field_valeurAttendue">Valeur Attendue</label>
            <input type="text" class="form-control" name="valeurAttendue" id="field_valeurAttendue"
                    ng-model="vm.monitoring.valeurAttendue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.monitoring.valeurObtenue" for="field_valeurObtenue">Valeur Obtenue</label>
            <input type="text" class="form-control" name="valeurObtenue" id="field_valeurObtenue"
                    ng-model="vm.monitoring.valeurObtenue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.monitoring.dateSup" for="field_dateSup">Date Sup</label>
                <div class="input-group">
                    <input id="field_dateSup" type="text" class="form-control" name="dateSup" datetime-picker="{{dateformat}}" ng-model="vm.monitoring.dateSup" is-open="vm.datePickerOpenStatus.dateSup"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateSup')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.monitoring.message" for="field_message">Message</label>
            <input type="text" class="form-control" name="message" id="field_message"
                    ng-model="vm.monitoring.message"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.monitoring.infos" for="field_infos">Infos</label>
            <input type="text" class="form-control" name="infos" id="field_infos"
                    ng-model="vm.monitoring.infos"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
