<!-- Main content -->
    <section class="content">
      <div ng-cloak>

        <div class="row">

          <div class="col-md-12">
        <style type="text/css">
        ${demo.css}
        		</style>
        		<script type="text/javascript">
        $(function () {

            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            // Create the chart
            Highcharts.stockChart('mygraphe', {
                chart: {
                    events: {
                        load: function () {

                            // set up the updating of the chart each second
                            var series = this.series[0];
                            setInterval(function () {
                                var x = (new Date()).getTime(), // current time
                                   // y = Math.round(Math.random() * 100);
                                    y = 85632;
                                series.addPoint([x, y], true, true);
                            }, 1000);
                        }
                    }
                },

                rangeSelector: {
                    buttons: [{
                        count: 1,
                        type: 'minute',
                        text: '1M'
                    }, {
                        count: 5,
                        type: 'minute',
                        text: '5M'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    inputEnabled: false,
                    selected: 0
                },

                title: {
                    text: 'BITRATE STREAM'
                },

                exporting: {
                    enabled: false
                },

                series: [{
                    name: 'BITRATE',
                    data: (function () {
                        // generate an array of random data
                        var data = [],
                            time = (new Date()).getTime(),
                            i;

                        for (i = -999; i <= 0; i += 1) {
                            data.push([
                                time + i * 1000,
                                //Math.round(Math.random() * 100)
                                //Valeur des bitrates
                                85623
                            ]);
                        }
                        return data;
                    }())
                }]
            });

        });

        		</script>

<div id="mygraphe" style="height: 400px;"></div>
        </div>
      </div>
          <div class="row">
          <div class="col-md-1">
              <span class="hipster img-responsive img-rounded"></span>
          </div>
          <div class="col-md-8">
              <h1 data-translate="home.title">Welcome, Java Hipster!</h1>
              <p class="lead"><font color="#ff6600"><b>A</b></font>daptative
              	<font color="#ff6600"><b>B</b></font>itrate
              	<font color="#ff6600"><b>S</b></font>treaming
              	<font color="#ff6600"><b>R</b></font>eal-time
              	<font color="#ff6600"><b>A</b></font>nalyzer for
              	<font color="#ff6600"><b>C</b></font>loud
              	<font color="#ff6600"><b>T</b></font>V services
              </p>
              <div ng-switch="vm.isAuthenticated()">
                  <div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                      You are logged in as user "{{vm.account.login}}".
                  </div>

                  <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.authenticated" translate-compile>
                      If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                  </div>

                  <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register" translate-compile>
                      You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                  </div>
              </div>
          </div>

          <div class="col-md-3">
             GRAPHES
          </div>
      </div>
        <div class="row">
          <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a href="#revenue-chart" data-toggle="tab">Node a1</a></li>
              <li><a href="#sales-chart" data-toggle="tab">Node a2</a></li>
              <li><a href="#sales-chart2" data-toggle="tab">Node b1</a></li>
              <li><a href="#sales-chart3" data-toggle="tab">Node b2</a></li>
              <li class="pull-left header"><i class="fa fa-inbox"></i>Streamers</li>
            </ul>
            <div class="tab-content no-padding">
              <!-- Morris chart - Sales -->
              <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading"><h3>STREAMER NODE A1</h3></div>
                    <div class="panel-body">

                            <div class="row">
                              <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-aqua">
                                  <div class="inner">
                                    <h3>8000</h3>

                                    <p>Bitrate</p>
                                  </div>
                                  <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                  </div>
                                  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                              </div>
                              <!-- ./col -->
                              <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-green">
                                  <div class="inner">
                                    <h3>53<sup style="font-size: 20px">%</sup></h3>

                                    <p>Bounce Rate</p>
                                  </div>
                                  <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                  </div>
                                  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                              </div>
                              <!-- ./col -->
                              <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-yellow">
                                  <div class="inner">
                                    <h3>44</h3>

                                    <p>User Registrations</p>
                                  </div>
                                  <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                  </div>
                                  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                              </div>
                              <!-- ./col -->
                              <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-red">
                                  <div class="inner">
                                    <h3>65</h3>

                                    <p>Unique Visitors</p>
                                  </div>
                                  <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                  </div>
                                  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                              </div>
                              <!-- ./col -->
                            </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading"><h3>STREAMER NODE A2</h3></div>
                    <div class="panel-body">
                      Graphes Node a2
                    </div>
                  </div>
                </div>
              </div>
              <div class="chart tab-pane" id="sales-chart2" style="position: relative; height: 300px;">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading"><h3>STREAMER NODE B1</h3></div>
                    <div class="panel-body">
                      Graphes Node B1
                    </div>
                  </div>
                </div>
              </div>
              <div class="chart tab-pane" id="sales-chart3" style="position: relative; height: 300px;">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading"><h3>STREAMER NODE B2</h3></div>
                    <div class="panel-body">
                      Graphes Node B2
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.nav-tabs-custom -->

        </div>

          <div class="row">
            <div class="nav-tabs-custom">
              <!-- Tabs within a box -->
              <ul class="nav nav-tabs pull-right">
                <li class="active"><a href="#revenue-chart5" data-toggle="tab">Node a1</a></li>
                <li><a href="#sales-chart6" data-toggle="tab">Node a2</a></li>
                <li class="pull-left header"><i class="fa fa-inbox"></i>PODS</li>
              </ul>
              <div class="tab-content no-padding">
                <!-- Morris chart - Sales -->
                <div class="chart tab-pane active" id="revenue-chart5" style="position: relative; height: 300px;">
                  <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3>POD A</h3></div>
                      <div class="panel-body">
                        Graphes POD A
                      </div>
                    </div>
                  </div>
                </div>

                <div class="chart tab-pane" id="sales-chart6" style="position: relative; height: 300px;">
                  <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3>POD B</h3></div>
                      <div class="panel-body">
                        Graphes POD B
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <!-- /.nav-tabs-custom -->

                      <div class="row">
                        <div class="nav-tabs-custom">
                          <!-- Tabs within a box -->
                          <ul class="nav nav-tabs pull-right">
                            <li class="active"><a href="#revenue-chart7" data-toggle="tab">DNS1</a></li>
                            <li><a href="#sales-chart8" data-toggle="tab">DNS2</a></li>
                            <li class="pull-left header"><i class="fa fa-inbox"></i> DNS</li>
                          </ul>
                          <div class="tab-content no-padding">
                            <!-- Morris chart - Sales -->
                            <div class="chart tab-pane active" id="revenue-chart7" style="position: relative; height: 300px;">
                              <div class="col-md-12">
                                <div class="panel panel-default">
                                  <div class="panel-heading"><h3>DNS 1</h3></div>
                                  <div class="panel-body">
                                    Graphes DNS 1
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="chart tab-pane" id="sales-chart8" style="position: relative; height: 300px;">
                              <div class="col-md-12">
                                <div class="panel panel-default">
                                  <div class="panel-heading"><h3>DNS 2</h3></div>
                                  <div class="panel-body">
                                    Graphes DNS 2
                                  </div>
                                </div>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>





      <!-- /.row -->
    </div>
    </section>
    <!-- /.content -->
