<div>
    <h2 data-translate="abstractApp.smoothStreamingMedia.home.title">Smooth Streaming Medias</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="smooth-streaming-mediamyAbstract.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="abstractApp.smoothStreamingMedia.home.createLabel">
                        Create new Smooth Streaming Media
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'abstractApp.smoothStreamingMedia.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nameSmooth"><span data-translate="abstractApp.smoothStreamingMedia.nameSmooth">Name Smooth</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="majorVersion"><span data-translate="abstractApp.smoothStreamingMedia.majorVersion">Major Version</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="minorVersion"><span data-translate="abstractApp.smoothStreamingMedia.minorVersion">Minor Version</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="duration"><span data-translate="abstractApp.smoothStreamingMedia.duration">Duration</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dvrWindowLength"><span data-translate="abstractApp.smoothStreamingMedia.dvrWindowLength">Dvr Window Length</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lookAheadFragmentCount"><span data-translate="abstractApp.smoothStreamingMedia.lookAheadFragmentCount">Look Ahead Fragment Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isLive"><span data-translate="abstractApp.smoothStreamingMedia.isLive">Is Live</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="canSeek"><span data-translate="abstractApp.smoothStreamingMedia.canSeek">Can Seek</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="canPause"><span data-translate="abstractApp.smoothStreamingMedia.canPause">Can Pause</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateManifest"><span data-translate="abstractApp.smoothStreamingMedia.dateManifest">Date Manifest</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="smoothOk"><span data-translate="abstractApp.smoothStreamingMedia.smoothOk">Smooth Ok</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="manifestFile"><span data-translate="abstractApp.smoothStreamingMedia.manifestFile">Manifest File</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="typeStreamIndex"><span data-translate="abstractApp.smoothStreamingMedia.typeStreamIndex">Type Stream Index</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nameVideo"><span data-translate="abstractApp.smoothStreamingMedia.nameVideo">Name Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nameAudio"><span data-translate="abstractApp.smoothStreamingMedia.nameAudio">Name Audio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nbrChunksVideo"><span data-translate="abstractApp.smoothStreamingMedia.nbrChunksVideo">Nbr Chunks Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nbrChunksAudio"><span data-translate="abstractApp.smoothStreamingMedia.nbrChunksAudio">Nbr Chunks Audio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="chunksVideo"><span data-translate="abstractApp.smoothStreamingMedia.chunksVideo">Chunks Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="chunksAudio"><span data-translate="abstractApp.smoothStreamingMedia.chunksAudio">Chunks Audio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qualityLevelsVideo"><span data-translate="abstractApp.smoothStreamingMedia.qualityLevelsVideo">Quality Levels Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qualityLevelsAudio"><span data-translate="abstractApp.smoothStreamingMedia.qualityLevelsAudio">Quality Levels Audio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maxWidthVideo"><span data-translate="abstractApp.smoothStreamingMedia.maxWidthVideo">Max Width Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maxHeightVideo"><span data-translate="abstractApp.smoothStreamingMedia.maxHeightVideo">Max Height Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maxWidthAudio"><span data-translate="abstractApp.smoothStreamingMedia.maxWidthAudio">Max Width Audio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maxHeightAudio"><span data-translate="abstractApp.smoothStreamingMedia.maxHeightAudio">Max Height Audio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="displayWidthVideo"><span data-translate="abstractApp.smoothStreamingMedia.displayWidthVideo">Display Width Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="displayHeightVideo"><span data-translate="abstractApp.smoothStreamingMedia.displayHeightVideo">Display Height Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="urlVideo"><span data-translate="abstractApp.smoothStreamingMedia.urlVideo">Url Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="urlAudio"><span data-translate="abstractApp.smoothStreamingMedia.urlAudio">Url Audio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="indexStrmAudio"><span data-translate="abstractApp.smoothStreamingMedia.indexStrmAudio">Index Strm Audio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="language"><span data-translate="abstractApp.smoothStreamingMedia.language">Language</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="indexQlityVideo"><span data-translate="abstractApp.smoothStreamingMedia.indexQlityVideo">Index Qlity Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="indexQlityAudio"><span data-translate="abstractApp.smoothStreamingMedia.indexQlityAudio">Index Qlity Audio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bitrateVideo"><span data-translate="abstractApp.smoothStreamingMedia.bitrateVideo">Bitrate Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bitrateAudio"><span data-translate="abstractApp.smoothStreamingMedia.bitrateAudio">Bitrate Audio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fourCcVideo"><span data-translate="abstractApp.smoothStreamingMedia.fourCcVideo">Four Cc Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fourCcAudio"><span data-translate="abstractApp.smoothStreamingMedia.fourCcAudio">Four Cc Audio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="codecPrivateDataVideo"><span data-translate="abstractApp.smoothStreamingMedia.codecPrivateDataVideo">Codec Private Data Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="codecPrivateDataAudio"><span data-translate="abstractApp.smoothStreamingMedia.codecPrivateDataAudio">Codec Private Data Audio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="samplingRate"><span data-translate="abstractApp.smoothStreamingMedia.samplingRate">Sampling Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="channels"><span data-translate="abstractApp.smoothStreamingMedia.channels">Channels</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bitsPerSample"><span data-translate="abstractApp.smoothStreamingMedia.bitsPerSample">Bits Per Sample</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="packetSize"><span data-translate="abstractApp.smoothStreamingMedia.packetSize">Packet Size</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="audioTag"><span data-translate="abstractApp.smoothStreamingMedia.audioTag">Audio Tag</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="smoothStreamingMedia in vm.smoothStreamingMedias track by smoothStreamingMedia.id">
                    <td><a ui-sref="smooth-streaming-mediamyAbstract-detail({id:smoothStreamingMedia.id})">{{smoothStreamingMedia.id}}</a></td>
                    <td>{{smoothStreamingMedia.nameSmooth}}</td>
                    <td>{{smoothStreamingMedia.majorVersion}}</td>
                    <td>{{smoothStreamingMedia.minorVersion}}</td>
                    <td>{{smoothStreamingMedia.duration}}</td>
                    <td>{{smoothStreamingMedia.dvrWindowLength}}</td>
                    <td>{{smoothStreamingMedia.lookAheadFragmentCount}}</td>
                    <td>{{smoothStreamingMedia.isLive}}</td>
                    <td>{{smoothStreamingMedia.canSeek}}</td>
                    <td>{{smoothStreamingMedia.canPause}}</td>
                    <td>{{smoothStreamingMedia.dateManifest | date:'medium'}}</td>
                    <td>{{smoothStreamingMedia.smoothOk}}</td>
                    <td>
                        <a ng-if="smoothStreamingMedia.manifestFile" ng-click="vm.openFile(smoothStreamingMedia.manifestFileContentType, smoothStreamingMedia.manifestFile)" data-translate="entity.action.open">open</a>
                        <span ng-if="smoothStreamingMedia.manifestFile">{{smoothStreamingMedia.manifestFileContentType}}, {{vm.byteSize(smoothStreamingMedia.manifestFile)}}</span>
                    </td>
                    <td>{{smoothStreamingMedia.typeStreamIndex}}</td>
                    <td>{{smoothStreamingMedia.nameVideo}}</td>
                    <td>{{smoothStreamingMedia.nameAudio}}</td>
                    <td>{{smoothStreamingMedia.nbrChunksVideo}}</td>
                    <td>{{smoothStreamingMedia.nbrChunksAudio}}</td>
                    <td>{{smoothStreamingMedia.chunksVideo}}</td>
                    <td>{{smoothStreamingMedia.chunksAudio}}</td>
                    <td>{{smoothStreamingMedia.qualityLevelsVideo}}</td>
                    <td>{{smoothStreamingMedia.qualityLevelsAudio}}</td>
                    <td>{{smoothStreamingMedia.maxWidthVideo}}</td>
                    <td>{{smoothStreamingMedia.maxHeightVideo}}</td>
                    <td>{{smoothStreamingMedia.maxWidthAudio}}</td>
                    <td>{{smoothStreamingMedia.maxHeightAudio}}</td>
                    <td>{{smoothStreamingMedia.displayWidthVideo}}</td>
                    <td>{{smoothStreamingMedia.displayHeightVideo}}</td>
                    <td>{{smoothStreamingMedia.urlVideo}}</td>
                    <td>{{smoothStreamingMedia.urlAudio}}</td>
                    <td>{{smoothStreamingMedia.indexStrmAudio}}</td>
                    <td>{{smoothStreamingMedia.language}}</td>
                    <td>{{smoothStreamingMedia.indexQlityVideo}}</td>
                    <td>{{smoothStreamingMedia.indexQlityAudio}}</td>
                    <td>{{smoothStreamingMedia.bitrateVideo}}</td>
                    <td>{{smoothStreamingMedia.bitrateAudio}}</td>
                    <td>{{smoothStreamingMedia.fourCcVideo}}</td>
                    <td>{{smoothStreamingMedia.fourCcAudio}}</td>
                    <td>{{smoothStreamingMedia.codecPrivateDataVideo}}</td>
                    <td>{{smoothStreamingMedia.codecPrivateDataAudio}}</td>
                    <td>{{smoothStreamingMedia.samplingRate}}</td>
                    <td>{{smoothStreamingMedia.channels}}</td>
                    <td>{{smoothStreamingMedia.bitsPerSample}}</td>
                    <td>{{smoothStreamingMedia.packetSize}}</td>
                    <td>{{smoothStreamingMedia.audioTag}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="smooth-streaming-mediamyAbstract-detail({id:smoothStreamingMedia.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="smooth-streaming-mediamyAbstract.edit({id:smoothStreamingMedia.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="smooth-streaming-mediamyAbstract.delete({id:smoothStreamingMedia.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
