
<div>
    <h2><span data-translate="abstractApp.manifestData.detail.title">Manifest Data</span> {{vm.manifestData.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.manifestData.attribut">Attribut</span></dt>
        <dd>
            <span>{{vm.manifestData.attribut}}</span>
        </dd>
        <dt><span data-translate="abstractApp.manifestData.valeurAttendue">Valeur Attendue</span></dt>
        <dd>
            <span>{{vm.manifestData.valeurAttendue}}</span>
        </dd>
        <dt><span data-translate="abstractApp.manifestData.messageErreur">Message Erreur</span></dt>
        <dd>
            <span>{{vm.manifestData.messageErreur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.manifestData.details">Details</span></dt>
        <dd>
            <span>{{vm.manifestData.details}}</span>
        </dd>
        <dt><span data-translate="abstractApp.manifestData.nivImportance">Niv Importance</span></dt>
        <dd>
            <a ui-sref="importancemyAbstract-detail({id:vm.manifestData.nivImportanceId})">{{vm.manifestData.nivImportanceNiveau}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="manifest-datamyAbstract-detail.edit({id:vm.manifestData.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
