
<div>
    <h2><span data-translate="abstractApp.duration.detail.title">Duration</span> {{vm.duration.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.duration.valeur">Valeur</span></dt>
        <dd>
            <span>{{vm.duration.valeur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.duration.streamer">Streamer</span></dt>
        <dd>
            <span>{{vm.duration.streamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.duration.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.duration.dateSup | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="durationmyAbstract-detail.edit({id:vm.duration.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
