
<div>
    <h2><span data-translate="abstractApp.lookAheadFragmentCount.detail.title">Look Ahead Fragment Count</span> {{vm.lookAheadFragmentCount.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.lookAheadFragmentCount.valeur">Valeur</span></dt>
        <dd>
            <span>{{vm.lookAheadFragmentCount.valeur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.lookAheadFragmentCount.streamer">Streamer</span></dt>
        <dd>
            <span>{{vm.lookAheadFragmentCount.streamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.lookAheadFragmentCount.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.lookAheadFragmentCount.dateSup | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="look-ahead-fragment-countmyAbstract-detail.edit({id:vm.lookAheadFragmentCount.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
