
<div>
    <h2><span data-translate="abstractApp.codecPrivateData.detail.title">Codec Private Data</span> {{vm.codecPrivateData.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.codecPrivateData.typeStream">Type Stream</span></dt>
        <dd>
            <span>{{vm.codecPrivateData.typeStream}}</span>
        </dd>
        <dt><span data-translate="abstractApp.codecPrivateData.valeur">Valeur</span></dt>
        <dd>
            <span>{{vm.codecPrivateData.valeur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.codecPrivateData.streamer">Streamer</span></dt>
        <dd>
            <span>{{vm.codecPrivateData.streamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.codecPrivateData.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.codecPrivateData.dateSup | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="codec-private-datamyAbstract-detail.edit({id:vm.codecPrivateData.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
