
<div>
    <h2><span data-translate="abstractApp.fourCC.detail.title">Four CC</span> {{vm.fourCC.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.fourCC.typeStream">Type Stream</span></dt>
        <dd>
            <span>{{vm.fourCC.typeStream}}</span>
        </dd>
        <dt><span data-translate="abstractApp.fourCC.valeur">Valeur</span></dt>
        <dd>
            <span>{{vm.fourCC.valeur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.fourCC.streamer">Streamer</span></dt>
        <dd>
            <span>{{vm.fourCC.streamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.fourCC.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.fourCC.dateSup | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="four-ccmyAbstract-detail.edit({id:vm.fourCC.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
