
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMaxWidthLabel" data-translate="abstractApp.maxWidth.home.createOrEditLabel">Create or edit a Max Width</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.maxWidth.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.maxWidth.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.maxWidth.typeStream" for="field_typeStream">Type Stream</label>
            <input type="text" class="form-control" name="typeStream" id="field_typeStream"
                    ng-model="vm.maxWidth.typeStream"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.maxWidth.streamer" for="field_streamer">Streamer</label>
            <input type="text" class="form-control" name="streamer" id="field_streamer"
                    ng-model="vm.maxWidth.streamer"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.maxWidth.valeur" for="field_valeur">Valeur</label>
            <input type="text" class="form-control" name="valeur" id="field_valeur"
                    ng-model="vm.maxWidth.valeur"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.maxWidth.dateSup" for="field_dateSup">Date Sup</label>
                <div class="input-group">
                    <input id="field_dateSup" type="text" class="form-control" name="dateSup" datetime-picker="{{dateformat}}" ng-model="vm.maxWidth.dateSup" is-open="vm.datePickerOpenStatus.dateSup"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateSup')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
