
<div>
    <h2><span data-translate="abstractApp.playing.detail.title">Playing</span> {{vm.playing.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.playing.link">Link</span></dt>
        <dd>
            <span>{{vm.playing.link}}</span>
        </dd>
        <dt><span data-translate="abstractApp.playing.fileTest">File Test</span></dt>
        <dd>
            <div ng-if="vm.playing.fileTest">
                <a ng-click="vm.openFile(vm.playing.fileTestContentType, vm.playing.fileTest)" data-translate="entity.action.open">open</a>
                {{vm.playing.fileTestContentType}}, {{vm.byteSize(vm.playing.fileTest)}}
            </div>
        </dd>
        <dt><span data-translate="abstractApp.playing.listchannels">Listchannels</span></dt>
        <dd>
            <span ng-repeat="listchannels in vm.playing.listchannels">
                <a ui-sref="channelsmyAbstract-detail({id: listchannels.id})">{{listchannels.channel}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="abstractApp.playing.listcommands">Listcommands</span></dt>
        <dd>
            <span ng-repeat="listcommands in vm.playing.listcommands">
                <a ui-sref="commandemyAbstract-detail({id: listcommands.id})">{{listcommands.commande}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="abstractApp.playing.theMode">The Mode</span></dt>
        <dd>
            <a ui-sref="modemyAbstract-detail({id:vm.playing.theModeId})">{{vm.playing.theModeName}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="playingmyAbstract-detail.edit({id:vm.playing.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
