
<div>
    <h2><span data-translate="abstractApp.importance.detail.title">Importance</span> {{vm.importance.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.importance.niveau">Niveau</span></dt>
        <dd>
            <span>{{vm.importance.niveau}}</span>
        </dd>
        <dt><span data-translate="abstractApp.importance.description">Description</span></dt>
        <dd>
            <span>{{vm.importance.description}}</span>
        </dd>
        <dt><span data-translate="abstractApp.importance.icone">Icone</span></dt>
        <dd>
            <div ng-if="vm.importance.icone">
                <a ng-click="vm.openFile(vm.importance.iconeContentType, vm.importance.icone)">
                    <img data-ng-src="{{'data:' + vm.importance.iconeContentType + ';base64,' + vm.importance.icone}}" style="max-width: 100%;"/>
                </a>
                {{vm.importance.iconeContentType}}, {{vm.byteSize(vm.importance.icone)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="importancemyAbstract-detail.edit({id:vm.importance.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
