<!-- Main content -->
    <section class="content">
      <div ng-cloak>
        
          <div class="row">
          <div class="col-md-1">
              <span class="hipster img-responsive img-rounded"></span>
          </div>
          <div class="col-md-8">
              <h1 data-translate="home.title">Welcome, Java Hipster!</h1>
              <p class="lead"><font color="#ff6600"><b>A</b></font>daptative
              	<font color="#ff6600"><b>B</b></font>itrate
              	<font color="#ff6600"><b>S</b></font>treaming
              	<font color="#ff6600"><b>R</b></font>eal-time
              	<font color="#ff6600"><b>A</b></font>nalyzer for
              	<font color="#ff6600"><b>C</b></font>loud
              	<font color="#ff6600"><b>T</b></font>V services
              </p>
              <div ng-switch="vm.isAuthenticated()">
                  <div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                      You are logged in as user "{{vm.account.login}}".
                  </div>

                  <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.authenticated" translate-compile>
                      If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                  </div>

                  <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register" translate-compile>
                      You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
             GRAPHES
          </div>
      </div>
          <div class="row">
             <div class="col-md-12">
     <div ng-repeat="bitratePerStreamer in bitratesToFilter() | filter:filterStreamers">
        <b>{{bitratePerStreamer.streamer}}</b>
        <li ng-repeat="element in myBitrate | filter:{streamer: bitratePerStreamer.streamer}">
            {{element.valeur}}
        </li>        
     </div>
<div id="mongraphe" style="min-width: 100%; height: 400px; margin: 0 auto"></div>

<table style="display:none" id="datatable">
    <thead>
        <tr>
            <th></th>
            <th>Streamer 1</th>
            <th>Streamer 2</th>
            <th>Streamer 3</th>
            <th>Streamer 4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Bitrate</th>
            <td>85633</td>
            <td>58464</td>
            <td>64564</td>
            <td>87634</td>
            <td>87634</td>
            <td>97634</td>
        </tr>
        <tr>
            <th>Bitrate</th>
            <td>89532</td>
            <td>78646</td>
            <td>66254</td>
            <td>42497</td>
        </tr>
        <tr>
            <th>Bitrate</th>
            <td>78645</td>
            <td>67864</td>
            <td>27864</td>
            <td>17864</td>
        </tr>
        <tr>
            <th>Bitrate</th>
            <td>78642</td>
            <td>67864</td>
            <td>78642</td>
            <td>47864</td>
        </tr>
        <tr>
            <th>Bitrate</th>
            <td>47864</td>
            <td>67864</td>
            <td>27864</td>
            <td>78648</td>
        </tr>
    </tbody>
</table>
             </div>
          </div>
          
         <div class="row">
            <input ng-model="limite" type="number" min="1" max="16"/>
            <input ng-change="showNLastBitrate()" type="text" class="form-control" ng-model="streamer" placeholder="Le Streamer">     
            <input  ng-change="showNLastBitrate()" type="date" class="form-control" ng-model="dateSup" placeholder="La date">     
        <br/>
         
         <div ng-repeat="element in myBitrate | filter : streamer | limitTo : limite">
                         <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-aqua">
                                  <div class="inner">
                                    <h3>{{element.valeur}}</h3>
                                    <p>Bitrate {{element.dateSup | date:'medium'}}</p>
                                  </div>
                                  <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                  </div>
                                  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                          </div>
               </div>
        </div>
        <div class="row">
          <div style="heigth:400px;" class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a href="#revenue-chart" data-toggle="tab">Node a1</a></li>
              <li><a href="#sales-chart" data-toggle="tab">Node a2</a></li>
              <li><a href="#sales-chart2" data-toggle="tab">Node b1</a></li>
              <li><a href="#sales-chart3" data-toggle="tab">Node b2</a></li>
              <li class="pull-left header"><i class="fa fa-inbox"></i>Streamers</li>
            </ul>
            <div class="tab-content no-padding">
              <!-- Morris chart - Sales -->
              <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading"><h3>STREAMER NODE A1</h3></div>
                    <div class="panel-body">
                        
                        Contenu 
                    </div>
                  </div>
                </div>
              </div>
              <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading"><h3>STREAMER NODE A2</h3></div>
                    <div class="panel-body">
                      Graphes Node a2
                    </div>
                  </div>
                </div>
              </div>
              <div class="chart tab-pane" id="sales-chart2" style="position: relative; height: 300px;">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading"><h3>STREAMER NODE B1</h3></div>
                    <div class="panel-body">
                      Graphes Node B1
                    </div>
                  </div>
                </div>
              </div>
              <div class="chart tab-pane" id="sales-chart3" style="position: relative; height: 300px;">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading"><h3>STREAMER NODE B2</h3></div>
                    <div class="panel-body">
                      Graphes Node B2
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
          <div class="row">
            <div class="nav-tabs-custom">
              <!-- Tabs within a box -->
              <ul class="nav nav-tabs pull-right">
                <li class="active"><a href="#revenue-chart5" data-toggle="tab">Node a1</a></li>
                <li><a href="#sales-chart6" data-toggle="tab">Node a2</a></li>
                <li class="pull-left header"><i class="fa fa-inbox"></i>PODS</li>
              </ul>
              <div class="tab-content no-padding">
                <!-- Morris chart - Sales -->
                <div class="chart tab-pane active" id="revenue-chart5" style="position: relative; height: 300px;">
                  <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3>POD A</h3></div>
                      <div class="panel-body">
                        Graphes POD A
                      </div>
                    </div>
                  </div>
                </div>

                <div class="chart tab-pane" id="sales-chart6" style="position: relative; height: 300px;">
                  <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3>POD B</h3></div>
                      <div class="panel-body">
                        Graphes POD B
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <!-- /.nav-tabs-custom -->
                      <div class="row">
                        <div class="nav-tabs-custom">
                          <!-- Tabs within a box -->
                          <ul class="nav nav-tabs pull-right">
                            <li class="active"><a href="#revenue-chart7" data-toggle="tab">DNS1</a></li>
                            <li><a href="#sales-chart8" data-toggle="tab">DNS2</a></li>
                            <li class="pull-left header"><i class="fa fa-inbox"></i> DNS</li>
                          </ul>
                          <div class="tab-content no-padding">
                            <!-- Morris chart - Sales -->
                            <div class="chart tab-pane active" id="revenue-chart7" style="position: relative; height: 300px;">
                              <div class="col-md-12">
                                <div class="panel panel-default">
                                  <div class="panel-heading"><h3>DNS 1</h3></div>
                                  <div class="panel-body">
                                    Graphes DNS 1
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="chart tab-pane" id="sales-chart8" style="position: relative; height: 300px;">
                              <div class="col-md-12">
                                <div class="panel panel-default">
                                  <div class="panel-heading"><h3>DNS 2</h3></div>
                                  <div class="panel-body">
                                    Graphes DNS 2
                                  </div>
                                </div>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>

    </div>
    </section>
    <!-- /.content -->
