
<div>
    <h2><span data-translate="abstractApp.samplingRate.detail.title">Sampling Rate</span> {{vm.samplingRate.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.samplingRate.typeStream">Type Stream</span></dt>
        <dd>
            <span>{{vm.samplingRate.typeStream}}</span>
        </dd>
        <dt><span data-translate="abstractApp.samplingRate.valeur">Valeur</span></dt>
        <dd>
            <span>{{vm.samplingRate.valeur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.samplingRate.streamer">Streamer</span></dt>
        <dd>
            <span>{{vm.samplingRate.streamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.samplingRate.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.samplingRate.dateSup | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="sampling-ratemyAbstract-detail.edit({id:vm.samplingRate.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
