
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myImportanceLabel" data-translate="abstractApp.importance.home.createOrEditLabel">Create or edit a Importance</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.importance.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.importance.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.importance.niveau" for="field_niveau">Niveau</label>
            <input type="text" class="form-control" name="niveau" id="field_niveau"
                    ng-model="vm.importance.niveau"
                    required />
            <div ng-show="editForm.niveau.$invalid">
                <p class="help-block"
                    ng-show="editForm.niveau.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.importance.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.importance.description"
                    required />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setIcone($file, vm.importance)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="abstractApp.importance.icone" for="field_icone">Icone</label>
            <div>
                <img data-ng-src="{{'data:' + vm.importance.iconeContentType + ';base64,' + vm.importance.icone}}" style="max-height: 100px;" ng-if="vm.importance.icone"/>
                <div ng-if="vm.importance.icone" class="help-block clearfix">
                    <span class="pull-left">{{vm.importance.iconeContentType}}, {{vm.byteSize(vm.importance.icone)}}</span>
                    <button type="button" ng-click="vm.importance.icone=null;vm.importance.iconeContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setIcone($file, vm.importance)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="icone" id="field_icone"
                    ng-model="vm.importance.icone"
                    required />
            <input type="hidden" class="form-control" name="iconeContentType" id="field_iconeContentType"
                    ng-model="vm.importance.iconeContentType" />
            <div ng-show="editForm.icone.$invalid">
                <p class="help-block"
                    ng-show="editForm.icone.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
