
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myModeLabel" data-translate="abstractApp.mode.home.createOrEditLabel">Create or edit a Mode</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.mode.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.mode.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.mode.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.mode.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.mode.abrStatic" for="field_abrStatic">Abr Static</label>
            <input type="text" class="form-control" name="abrStatic" id="field_abrStatic"
                    ng-model="vm.mode.abrStatic"
                    required />
            <div ng-show="editForm.abrStatic.$invalid">
                <p class="help-block"
                    ng-show="editForm.abrStatic.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.mode.fragment" for="field_fragment">Fragment</label>
            <input type="number" class="form-control" name="fragment" id="field_fragment"
                    ng-model="vm.mode.fragment"
                    required />
            <div ng-show="editForm.fragment.$invalid">
                <p class="help-block"
                    ng-show="editForm.fragment.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.fragment.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.mode.suffixManifest" for="field_suffixManifest">Suffix Manifest</label>
            <input type="text" class="form-control" name="suffixManifest" id="field_suffixManifest"
                    ng-model="vm.mode.suffixManifest"
                    required />
            <div ng-show="editForm.suffixManifest.$invalid">
                <p class="help-block"
                    ng-show="editForm.suffixManifest.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.mode.deviceProfil" for="field_deviceProfil">Device Profil</label>
            <input type="text" class="form-control" name="deviceProfil" id="field_deviceProfil"
                    ng-model="vm.mode.deviceProfil"
                    required />
            <div ng-show="editForm.deviceProfil.$invalid">
                <p class="help-block"
                    ng-show="editForm.deviceProfil.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.mode.clientVersion" for="field_clientVersion">Client Version</label>
            <input type="text" class="form-control" name="clientVersion" id="field_clientVersion"
                    ng-model="vm.mode.clientVersion"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.mode.typeManifest" for="field_typeManifest">Type Manifest</label>
            <input type="text" class="form-control" name="typeManifest" id="field_typeManifest"
                    ng-model="vm.mode.typeManifest"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.mode.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.mode.description"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
