    <div ng-controller="MonCtrl">
        <ul>
            <li ng-repeat="article in articles">
                <label>{{article.name}}:</label>
                <input ng-model="article.price"/>
                <input type="number" ng-model="article.quantity"/>
            </li>
        </ul>
        <div>
            <label>Total facture: </label><span>{{total() | currency:"€":2}}</span>
        </div>
        <div>
             <label>Réduction: </label><span>{{discount | currency: "€":2}}</span>
        </div>
        <div>
            <label>Somme à payer: </label><span>{{finalTotal() | currency: "€":2}}</span>
        </div>
</div>
