
<div>
    <h2><span data-translate="abstractApp.qualityLevels.detail.title">Quality Levels</span> {{vm.qualityLevels.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.qualityLevels.typeStream">Type Stream</span></dt>
        <dd>
            <span>{{vm.qualityLevels.typeStream}}</span>
        </dd>
        <dt><span data-translate="abstractApp.qualityLevels.streamer">Streamer</span></dt>
        <dd>
            <span>{{vm.qualityLevels.streamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.qualityLevels.valeur">Valeur</span></dt>
        <dd>
            <span>{{vm.qualityLevels.valeur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.qualityLevels.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.qualityLevels.dateSup | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="quality-levelsmyAbstract-detail.edit({id:vm.qualityLevels.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
