
<div>
    <h2><span data-translate="abstractApp.mode.detail.title">Mode</span> {{vm.mode.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.mode.name">Name</span></dt>
        <dd>
            <span>{{vm.mode.name}}</span>
        </dd>
        <dt><span data-translate="abstractApp.mode.abrStatic">Abr Static</span></dt>
        <dd>
            <span>{{vm.mode.abrStatic}}</span>
        </dd>
        <dt><span data-translate="abstractApp.mode.fragment">Fragment</span></dt>
        <dd>
            <span>{{vm.mode.fragment}}</span>
        </dd>
        <dt><span data-translate="abstractApp.mode.suffixManifest">Suffix Manifest</span></dt>
        <dd>
            <span>{{vm.mode.suffixManifest}}</span>
        </dd>
        <dt><span data-translate="abstractApp.mode.deviceProfil">Device Profil</span></dt>
        <dd>
            <span>{{vm.mode.deviceProfil}}</span>
        </dd>
        <dt><span data-translate="abstractApp.mode.clientVersion">Client Version</span></dt>
        <dd>
            <span>{{vm.mode.clientVersion}}</span>
        </dd>
        <dt><span data-translate="abstractApp.mode.typeManifest">Type Manifest</span></dt>
        <dd>
            <span>{{vm.mode.typeManifest}}</span>
        </dd>
        <dt><span data-translate="abstractApp.mode.description">Description</span></dt>
        <dd>
            <span>{{vm.mode.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="modemyAbstract-detail.edit({id:vm.mode.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
