
<div>
    <h2><span data-translate="abstractApp.monitoring.detail.title">Monitoring</span> {{vm.monitoring.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.monitoring.attribut">Attribut</span></dt>
        <dd>
            <span>{{vm.monitoring.attribut}}</span>
        </dd>
        <dt><span data-translate="abstractApp.monitoring.severite">Severite</span></dt>
        <dd>
            <span>{{vm.monitoring.severite}}</span>
        </dd>
        <dt><span data-translate="abstractApp.monitoring.importance">Importance</span></dt>
        <dd>
            <span>{{vm.monitoring.importance}}</span>
        </dd>
        <dt><span data-translate="abstractApp.monitoring.valeurAttendue">Valeur Attendue</span></dt>
        <dd>
            <span>{{vm.monitoring.valeurAttendue}}</span>
        </dd>
        <dt><span data-translate="abstractApp.monitoring.valeurObtenue">Valeur Obtenue</span></dt>
        <dd>
            <span>{{vm.monitoring.valeurObtenue}}</span>
        </dd>
        <dt><span data-translate="abstractApp.monitoring.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.monitoring.dateSup | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="abstractApp.monitoring.message">Message</span></dt>
        <dd>
            <span>{{vm.monitoring.message}}</span>
        </dd>
        <dt><span data-translate="abstractApp.monitoring.infos">Infos</span></dt>
        <dd>
            <span>{{vm.monitoring.infos}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="monitoringmyAbstract-detail.edit({id:vm.monitoring.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
