
<div>
    <h2><span data-translate="abstractApp.chunks.detail.title">Chunks</span> {{vm.chunks.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.chunks.typeStream">Type Stream</span></dt>
        <dd>
            <span>{{vm.chunks.typeStream}}</span>
        </dd>
        <dt><span data-translate="abstractApp.chunks.streamer">Streamer</span></dt>
        <dd>
            <span>{{vm.chunks.streamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.chunks.valeur">Valeur</span></dt>
        <dd>
            <span>{{vm.chunks.valeur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.chunks.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.chunks.dateSup | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="chunksmyAbstract-detail.edit({id:vm.chunks.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
