<div>
    <h2 data-translate="abstractApp.pod.home.title">Pods</h2>
    <jhi-alert></jhi-alert>
              <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="name"><span data-translate="abstractApp.pod.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="link"><span data-translate="abstractApp.pod.link">Link</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="description"><span data-translate="abstractApp.pod.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th></th>
                    </tr>
                  </thead>
                    <tbody>
                        <tr ng-repeat="pod in vm.pods track by pod.id">
                            <td><a ui-sref="podmyAbstract-detail({id:pod.id})">{{pod.id}}</a></td>
                            <td>{{pod.name}}</td>
                            <td>{{pod.link}}</td>
                            <td>{{pod.description}}</td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="podmyAbstract-detail({id:pod.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="podmyAbstract.edit({id:pod.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="podmyAbstract.delete({id:pod.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
              </table>
              <div class="text-center">
                <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
              </div>
</div>

    <script>
      $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>
