
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySmoothStreamingMediaLabel" data-translate="abstractApp.smoothStreamingMedia.home.createOrEditLabel">Create or edit a Smooth Streaming Media</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.smoothStreamingMedia.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.smoothStreamingMedia.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.nameSmooth" for="field_nameSmooth">Name Smooth</label>
            <input type="text" class="form-control" name="nameSmooth" id="field_nameSmooth"
                    ng-model="vm.smoothStreamingMedia.nameSmooth"
                    required />
            <div ng-show="editForm.nameSmooth.$invalid">
                <p class="help-block"
                    ng-show="editForm.nameSmooth.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.majorVersion" for="field_majorVersion">Major Version</label>
            <input type="text" class="form-control" name="majorVersion" id="field_majorVersion"
                    ng-model="vm.smoothStreamingMedia.majorVersion"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.minorVersion" for="field_minorVersion">Minor Version</label>
            <input type="text" class="form-control" name="minorVersion" id="field_minorVersion"
                    ng-model="vm.smoothStreamingMedia.minorVersion"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.duration" for="field_duration">Duration</label>
            <input type="text" class="form-control" name="duration" id="field_duration"
                    ng-model="vm.smoothStreamingMedia.duration"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.dvrWindowLength" for="field_dvrWindowLength">Dvr Window Length</label>
            <input type="text" class="form-control" name="dvrWindowLength" id="field_dvrWindowLength"
                    ng-model="vm.smoothStreamingMedia.dvrWindowLength"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.lookAheadFragmentCount" for="field_lookAheadFragmentCount">Look Ahead Fragment Count</label>
            <input type="text" class="form-control" name="lookAheadFragmentCount" id="field_lookAheadFragmentCount"
                    ng-model="vm.smoothStreamingMedia.lookAheadFragmentCount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.isLive" for="field_isLive">Is Live</label>
            <input type="checkbox" class="form-control" name="isLive" id="field_isLive"
                    ng-model="vm.smoothStreamingMedia.isLive"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.canSeek" for="field_canSeek">Can Seek</label>
            <input type="checkbox" class="form-control" name="canSeek" id="field_canSeek"
                    ng-model="vm.smoothStreamingMedia.canSeek"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.canPause" for="field_canPause">Can Pause</label>
            <input type="checkbox" class="form-control" name="canPause" id="field_canPause"
                    ng-model="vm.smoothStreamingMedia.canPause"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.dateManifest" for="field_dateManifest">Date Manifest</label>
                <div class="input-group">
                    <input id="field_dateManifest" type="text" class="form-control" name="dateManifest" datetime-picker="{{dateformat}}" ng-model="vm.smoothStreamingMedia.dateManifest" is-open="vm.datePickerOpenStatus.dateManifest"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateManifest')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.smoothOk" for="field_smoothOk">Smooth Ok</label>
            <input type="checkbox" class="form-control" name="smoothOk" id="field_smoothOk"
                    ng-model="vm.smoothStreamingMedia.smoothOk"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setManifestFile($file, vm.smoothStreamingMedia)">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.manifestFile" for="field_manifestFile">Manifest File</label>
            <div>
                <div ng-if="vm.smoothStreamingMedia.manifestFile" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.smoothStreamingMedia.manifestFileContentType, vm.smoothStreamingMedia.manifestFile)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.smoothStreamingMedia.manifestFileContentType}}, {{vm.byteSize(vm.smoothStreamingMedia.manifestFile)}}</span>
                    <button type="button" ng-click="vm.smoothStreamingMedia.manifestFile=null;vm.smoothStreamingMedia.manifestFileContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setManifestFile($file, vm.smoothStreamingMedia)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="manifestFile" id="field_manifestFile"
                    ng-model="vm.smoothStreamingMedia.manifestFile"
                     />
            <input type="hidden" class="form-control" name="manifestFileContentType" id="field_manifestFileContentType"
                    ng-model="vm.smoothStreamingMedia.manifestFileContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.typeStreamIndex" for="field_typeStreamIndex">Type Stream Index</label>
            <input type="text" class="form-control" name="typeStreamIndex" id="field_typeStreamIndex"
                    ng-model="vm.smoothStreamingMedia.typeStreamIndex"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.nameVideo" for="field_nameVideo">Name Video</label>
            <input type="text" class="form-control" name="nameVideo" id="field_nameVideo"
                    ng-model="vm.smoothStreamingMedia.nameVideo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.nameAudio" for="field_nameAudio">Name Audio</label>
            <input type="text" class="form-control" name="nameAudio" id="field_nameAudio"
                    ng-model="vm.smoothStreamingMedia.nameAudio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.nbrChunksVideo" for="field_nbrChunksVideo">Nbr Chunks Video</label>
            <input type="number" class="form-control" name="nbrChunksVideo" id="field_nbrChunksVideo"
                    ng-model="vm.smoothStreamingMedia.nbrChunksVideo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.nbrChunksAudio" for="field_nbrChunksAudio">Nbr Chunks Audio</label>
            <input type="number" class="form-control" name="nbrChunksAudio" id="field_nbrChunksAudio"
                    ng-model="vm.smoothStreamingMedia.nbrChunksAudio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.chunksVideo" for="field_chunksVideo">Chunks Video</label>
            <input type="text" class="form-control" name="chunksVideo" id="field_chunksVideo"
                    ng-model="vm.smoothStreamingMedia.chunksVideo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.chunksAudio" for="field_chunksAudio">Chunks Audio</label>
            <input type="text" class="form-control" name="chunksAudio" id="field_chunksAudio"
                    ng-model="vm.smoothStreamingMedia.chunksAudio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.qualityLevelsVideo" for="field_qualityLevelsVideo">Quality Levels Video</label>
            <input type="text" class="form-control" name="qualityLevelsVideo" id="field_qualityLevelsVideo"
                    ng-model="vm.smoothStreamingMedia.qualityLevelsVideo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.qualityLevelsAudio" for="field_qualityLevelsAudio">Quality Levels Audio</label>
            <input type="text" class="form-control" name="qualityLevelsAudio" id="field_qualityLevelsAudio"
                    ng-model="vm.smoothStreamingMedia.qualityLevelsAudio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.maxWidthVideo" for="field_maxWidthVideo">Max Width Video</label>
            <input type="text" class="form-control" name="maxWidthVideo" id="field_maxWidthVideo"
                    ng-model="vm.smoothStreamingMedia.maxWidthVideo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.maxHeightVideo" for="field_maxHeightVideo">Max Height Video</label>
            <input type="text" class="form-control" name="maxHeightVideo" id="field_maxHeightVideo"
                    ng-model="vm.smoothStreamingMedia.maxHeightVideo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.maxWidthAudio" for="field_maxWidthAudio">Max Width Audio</label>
            <input type="text" class="form-control" name="maxWidthAudio" id="field_maxWidthAudio"
                    ng-model="vm.smoothStreamingMedia.maxWidthAudio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.maxHeightAudio" for="field_maxHeightAudio">Max Height Audio</label>
            <input type="text" class="form-control" name="maxHeightAudio" id="field_maxHeightAudio"
                    ng-model="vm.smoothStreamingMedia.maxHeightAudio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.displayWidthVideo" for="field_displayWidthVideo">Display Width Video</label>
            <input type="text" class="form-control" name="displayWidthVideo" id="field_displayWidthVideo"
                    ng-model="vm.smoothStreamingMedia.displayWidthVideo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.displayHeightVideo" for="field_displayHeightVideo">Display Height Video</label>
            <input type="text" class="form-control" name="displayHeightVideo" id="field_displayHeightVideo"
                    ng-model="vm.smoothStreamingMedia.displayHeightVideo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.urlVideo" for="field_urlVideo">Url Video</label>
            <input type="text" class="form-control" name="urlVideo" id="field_urlVideo"
                    ng-model="vm.smoothStreamingMedia.urlVideo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.urlAudio" for="field_urlAudio">Url Audio</label>
            <input type="text" class="form-control" name="urlAudio" id="field_urlAudio"
                    ng-model="vm.smoothStreamingMedia.urlAudio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.indexStrmAudio" for="field_indexStrmAudio">Index Strm Audio</label>
            <input type="text" class="form-control" name="indexStrmAudio" id="field_indexStrmAudio"
                    ng-model="vm.smoothStreamingMedia.indexStrmAudio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.language" for="field_language">Language</label>
            <input type="text" class="form-control" name="language" id="field_language"
                    ng-model="vm.smoothStreamingMedia.language"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.indexQlityVideo" for="field_indexQlityVideo">Index Qlity Video</label>
            <input type="text" class="form-control" name="indexQlityVideo" id="field_indexQlityVideo"
                    ng-model="vm.smoothStreamingMedia.indexQlityVideo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.indexQlityAudio" for="field_indexQlityAudio">Index Qlity Audio</label>
            <input type="text" class="form-control" name="indexQlityAudio" id="field_indexQlityAudio"
                    ng-model="vm.smoothStreamingMedia.indexQlityAudio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.bitrateVideo" for="field_bitrateVideo">Bitrate Video</label>
            <input type="text" class="form-control" name="bitrateVideo" id="field_bitrateVideo"
                    ng-model="vm.smoothStreamingMedia.bitrateVideo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.bitrateAudio" for="field_bitrateAudio">Bitrate Audio</label>
            <input type="text" class="form-control" name="bitrateAudio" id="field_bitrateAudio"
                    ng-model="vm.smoothStreamingMedia.bitrateAudio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.fourCcVideo" for="field_fourCcVideo">Four Cc Video</label>
            <input type="text" class="form-control" name="fourCcVideo" id="field_fourCcVideo"
                    ng-model="vm.smoothStreamingMedia.fourCcVideo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.fourCcAudio" for="field_fourCcAudio">Four Cc Audio</label>
            <input type="text" class="form-control" name="fourCcAudio" id="field_fourCcAudio"
                    ng-model="vm.smoothStreamingMedia.fourCcAudio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.codecPrivateDataVideo" for="field_codecPrivateDataVideo">Codec Private Data Video</label>
            <input type="text" class="form-control" name="codecPrivateDataVideo" id="field_codecPrivateDataVideo"
                    ng-model="vm.smoothStreamingMedia.codecPrivateDataVideo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.codecPrivateDataAudio" for="field_codecPrivateDataAudio">Codec Private Data Audio</label>
            <input type="text" class="form-control" name="codecPrivateDataAudio" id="field_codecPrivateDataAudio"
                    ng-model="vm.smoothStreamingMedia.codecPrivateDataAudio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.samplingRate" for="field_samplingRate">Sampling Rate</label>
            <input type="text" class="form-control" name="samplingRate" id="field_samplingRate"
                    ng-model="vm.smoothStreamingMedia.samplingRate"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.channels" for="field_channels">Channels</label>
            <input type="text" class="form-control" name="channels" id="field_channels"
                    ng-model="vm.smoothStreamingMedia.channels"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.bitsPerSample" for="field_bitsPerSample">Bits Per Sample</label>
            <input type="text" class="form-control" name="bitsPerSample" id="field_bitsPerSample"
                    ng-model="vm.smoothStreamingMedia.bitsPerSample"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.packetSize" for="field_packetSize">Packet Size</label>
            <input type="text" class="form-control" name="packetSize" id="field_packetSize"
                    ng-model="vm.smoothStreamingMedia.packetSize"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.smoothStreamingMedia.audioTag" for="field_audioTag">Audio Tag</label>
            <input type="text" class="form-control" name="audioTag" id="field_audioTag"
                    ng-model="vm.smoothStreamingMedia.audioTag"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
