
<div>
    <h2><span data-translate="abstractApp.smoothStreamingMedia.detail.title">Smooth Streaming Media</span> {{vm.smoothStreamingMedia.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.smoothStreamingMedia.nameSmooth">Name Smooth</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.nameSmooth}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.majorVersion">Major Version</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.majorVersion}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.minorVersion">Minor Version</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.minorVersion}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.duration">Duration</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.duration}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.dvrWindowLength">Dvr Window Length</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.dvrWindowLength}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.lookAheadFragmentCount">Look Ahead Fragment Count</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.lookAheadFragmentCount}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.isLive">Is Live</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.isLive}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.canSeek">Can Seek</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.canSeek}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.canPause">Can Pause</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.canPause}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.dateManifest">Date Manifest</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.dateManifest | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.smoothOk">Smooth Ok</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.smoothOk}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.manifestFile">Manifest File</span></dt>
        <dd>
            <div ng-if="vm.smoothStreamingMedia.manifestFile">
                <a ng-click="vm.openFile(vm.smoothStreamingMedia.manifestFileContentType, vm.smoothStreamingMedia.manifestFile)" data-translate="entity.action.open">open</a>
                {{vm.smoothStreamingMedia.manifestFileContentType}}, {{vm.byteSize(vm.smoothStreamingMedia.manifestFile)}}
            </div>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.typeStreamIndex">Type Stream Index</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.typeStreamIndex}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.nameVideo">Name Video</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.nameVideo}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.nameAudio">Name Audio</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.nameAudio}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.nbrChunksVideo">Nbr Chunks Video</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.nbrChunksVideo}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.nbrChunksAudio">Nbr Chunks Audio</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.nbrChunksAudio}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.chunksVideo">Chunks Video</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.chunksVideo}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.chunksAudio">Chunks Audio</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.chunksAudio}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.qualityLevelsVideo">Quality Levels Video</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.qualityLevelsVideo}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.qualityLevelsAudio">Quality Levels Audio</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.qualityLevelsAudio}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.maxWidthVideo">Max Width Video</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.maxWidthVideo}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.maxHeightVideo">Max Height Video</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.maxHeightVideo}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.maxWidthAudio">Max Width Audio</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.maxWidthAudio}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.maxHeightAudio">Max Height Audio</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.maxHeightAudio}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.displayWidthVideo">Display Width Video</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.displayWidthVideo}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.displayHeightVideo">Display Height Video</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.displayHeightVideo}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.urlVideo">Url Video</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.urlVideo}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.urlAudio">Url Audio</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.urlAudio}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.indexStrmAudio">Index Strm Audio</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.indexStrmAudio}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.language">Language</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.language}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.indexQlityVideo">Index Qlity Video</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.indexQlityVideo}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.indexQlityAudio">Index Qlity Audio</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.indexQlityAudio}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.bitrateVideo">Bitrate Video</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.bitrateVideo}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.bitrateAudio">Bitrate Audio</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.bitrateAudio}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.fourCcVideo">Four Cc Video</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.fourCcVideo}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.fourCcAudio">Four Cc Audio</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.fourCcAudio}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.codecPrivateDataVideo">Codec Private Data Video</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.codecPrivateDataVideo}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.codecPrivateDataAudio">Codec Private Data Audio</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.codecPrivateDataAudio}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.samplingRate">Sampling Rate</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.samplingRate}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.channels">Channels</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.channels}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.bitsPerSample">Bits Per Sample</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.bitsPerSample}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.packetSize">Packet Size</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.packetSize}}</span>
        </dd>
        <dt><span data-translate="abstractApp.smoothStreamingMedia.audioTag">Audio Tag</span></dt>
        <dd>
            <span>{{vm.smoothStreamingMedia.audioTag}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="smooth-streaming-mediamyAbstract-detail.edit({id:vm.smoothStreamingMedia.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
