
<div>
    <h2><span data-translate="abstractApp.bitrate.detail.title">Bitrate</span> {{vm.bitrate.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.bitrate.typeStream">Type Stream</span></dt>
        <dd>
            <span>{{vm.bitrate.typeStream}}</span>
        </dd>
        <dt><span data-translate="abstractApp.bitrate.streamer">Streamer</span></dt>
        <dd>
            <span>{{vm.bitrate.streamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.bitrate.valeur">Valeur</span></dt>
        <dd>
            <span>{{vm.bitrate.valeur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.bitrate.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.bitrate.dateSup | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="bitratemyAbstract-detail.edit({id:vm.bitrate.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
