
<div>
    <h2><span data-translate="abstractApp.commande.detail.title">Commande</span> {{vm.commande.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.commande.command">Command</span></dt>
        <dd>
            <span>{{vm.commande.command}}</span>
        </dd>
        <dt><span data-translate="abstractApp.commande.description">Description</span></dt>
        <dd>
            <span>{{vm.commande.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="commandemyAbstract-detail.edit({id:vm.commande.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
