
<div>
    <h2><span data-translate="abstractApp.packetSize.detail.title">Packet Size</span> {{vm.packetSize.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.packetSize.typeStream">Type Stream</span></dt>
        <dd>
            <span>{{vm.packetSize.typeStream}}</span>
        </dd>
        <dt><span data-translate="abstractApp.packetSize.valeur">Valeur</span></dt>
        <dd>
            <span>{{vm.packetSize.valeur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.packetSize.streamer">Streamer</span></dt>
        <dd>
            <span>{{vm.packetSize.streamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.packetSize.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.packetSize.dateSup | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="packet-sizemyAbstract-detail.edit({id:vm.packetSize.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
