
<div>
    <h2><span data-translate="abstractApp.maxWidth.detail.title">Max Width</span> {{vm.maxWidth.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.maxWidth.typeStream">Type Stream</span></dt>
        <dd>
            <span>{{vm.maxWidth.typeStream}}</span>
        </dd>
        <dt><span data-translate="abstractApp.maxWidth.streamer">Streamer</span></dt>
        <dd>
            <span>{{vm.maxWidth.streamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.maxWidth.valeur">Valeur</span></dt>
        <dd>
            <span>{{vm.maxWidth.valeur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.maxWidth.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.maxWidth.dateSup | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="max-widthmyAbstract-detail.edit({id:vm.maxWidth.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
