<div>
    <h2 data-translate="abstractApp.mode.home.title">Modes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="modemyAbstract.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="abstractApp.mode.home.createLabel">
                        Create new Mode
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'abstractApp.mode.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="abstractApp.mode.name">Name</span></th>
                    <th><span data-translate="abstractApp.mode.abrStatic">Abr Static</span></th>
                    <th><span data-translate="abstractApp.mode.fragment">Fragment</span></th>
                    <th><span data-translate="abstractApp.mode.suffixManifest">Suffix Manifest</span></th>
                    <th><span data-translate="abstractApp.mode.deviceProfil">Device Profil</span></th>
                    <th><span data-translate="abstractApp.mode.clientVersion">Client Version</span></th>
                    <th><span data-translate="abstractApp.mode.typeManifest">Type Manifest</span></th>
                    <th><span data-translate="abstractApp.mode.description">Description</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mode in vm.modes track by mode.id">
                    <td><a ui-sref="modemyAbstract-detail({id:mode.id})">{{mode.id}}</a></td>
                    <td>{{mode.name}}</td>
                    <td>{{mode.abrStatic}}</td>
                    <td>{{mode.fragment}}</td>
                    <td>{{mode.suffixManifest}}</td>
                    <td>{{mode.deviceProfil}}</td>
                    <td>{{mode.clientVersion}}</td>
                    <td>{{mode.typeManifest}}</td>
                    <td>{{mode.description}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="modemyAbstract-detail({id:mode.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="modemyAbstract.edit({id:mode.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="modemyAbstract.delete({id:mode.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
