
<div>
    <h2><span data-translate="abstractApp.displayWidth.detail.title">Display Width</span> {{vm.displayWidth.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.displayWidth.typeStream">Type Stream</span></dt>
        <dd>
            <span>{{vm.displayWidth.typeStream}}</span>
        </dd>
        <dt><span data-translate="abstractApp.displayWidth.streamer">Streamer</span></dt>
        <dd>
            <span>{{vm.displayWidth.streamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.displayWidth.valeur">Valeur</span></dt>
        <dd>
            <span>{{vm.displayWidth.valeur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.displayWidth.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.displayWidth.dateSup | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="display-widthmyAbstract-detail.edit({id:vm.displayWidth.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
