
<div>
    <h2><span data-translate="abstractApp.pod.detail.title">Pod</span> {{vm.pod.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.pod.name">Name</span></dt>
        <dd>
            <span>{{vm.pod.name}}</span>
        </dd>
        <dt><span data-translate="abstractApp.pod.link">Link</span></dt>
        <dd>
            <span>{{vm.pod.link}}</span>
        </dd>
        <dt><span data-translate="abstractApp.pod.description">Description</span></dt>
        <dd>
            <span>{{vm.pod.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="podmyAbstract-detail.edit({id:vm.pod.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
