
<div>
    <h2><span data-translate="abstractApp.bitsPerSample.detail.title">Bits Per Sample</span> {{vm.bitsPerSample.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.bitsPerSample.typeStream">Type Stream</span></dt>
        <dd>
            <span>{{vm.bitsPerSample.typeStream}}</span>
        </dd>
        <dt><span data-translate="abstractApp.bitsPerSample.valeur">Valeur</span></dt>
        <dd>
            <span>{{vm.bitsPerSample.valeur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.bitsPerSample.streamer">Streamer</span></dt>
        <dd>
            <span>{{vm.bitsPerSample.streamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.bitsPerSample.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.bitsPerSample.dateSup | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="bits-per-samplemyAbstract-detail.edit({id:vm.bitsPerSample.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
