
<div>
    <h2><span data-translate="abstractApp.maxWidthQlt.detail.title">Max Width Qlt</span> {{vm.maxWidthQlt.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.maxWidthQlt.typeStream">Type Stream</span></dt>
        <dd>
            <span>{{vm.maxWidthQlt.typeStream}}</span>
        </dd>
        <dt><span data-translate="abstractApp.maxWidthQlt.valeur">Valeur</span></dt>
        <dd>
            <span>{{vm.maxWidthQlt.valeur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.maxWidthQlt.streamer">Streamer</span></dt>
        <dd>
            <span>{{vm.maxWidthQlt.streamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.maxWidthQlt.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.maxWidthQlt.dateSup | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="max-width-qltmyAbstract-detail.edit({id:vm.maxWidthQlt.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
