
<div>
    <h2><span data-translate="abstractApp.dVRWindowLength.detail.title">DVR Window Length</span> {{vm.dVRWindowLength.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.dVRWindowLength.valeur">Valeur</span></dt>
        <dd>
            <span>{{vm.dVRWindowLength.valeur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.dVRWindowLength.streamer">Streamer</span></dt>
        <dd>
            <span>{{vm.dVRWindowLength.streamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.dVRWindowLength.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.dVRWindowLength.dateSup | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="d-vr-window-lengthmyAbstract-detail.edit({id:vm.dVRWindowLength.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
