
<div>
    <h2><span data-translate="abstractApp.streamer.detail.title">Streamer</span> {{vm.streamer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.streamer.nameStreamer">Name Streamer</span></dt>
        <dd>
            <span>{{vm.streamer.nameStreamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.streamer.address">Address</span></dt>
        <dd>
            <span>{{vm.streamer.address}}</span>
        </dd>
        <dt><span data-translate="abstractApp.streamer.description">Description</span></dt>
        <dd>
            <span>{{vm.streamer.description}}</span>
        </dd>
        <dt><span data-translate="abstractApp.streamer.lePod">Le Pod</span></dt>
        <dd>
            <a ui-sref="podmyAbstract-detail({id:vm.streamer.lePodId})">{{vm.streamer.lePodName}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="streamermyAbstract-detail.edit({id:vm.streamer.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
