<div>
    <h2 data-translate="abstractApp.manifestData.home.title">Manifest Data</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="manifest-datamyAbstract.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="abstractApp.manifestData.home.createLabel">
                        Create new Manifest Data
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'abstractApp.manifestData.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <!-- <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="attribut"><span data-translate="abstractApp.manifestData.attribut">Attribut</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valeurAttendue"><span data-translate="abstractApp.manifestData.valeurAttendue">Valeur Attendue</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="messageErreur"><span data-translate="abstractApp.manifestData.messageErreur">Message Erreur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="details"><span data-translate="abstractApp.manifestData.details">Details</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nivImportanceNiveau"><span data-translate="abstractApp.manifestData.nivImportance">Niv Importance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="manifestData in vm.manifestData track by manifestData.id">
                    <!-- <td><a ui-sref="manifest-datamyAbstract-detail({id:manifestData.id})">{{manifestData.id}}</a></td> -->
                    <td>{{manifestData.attribut}}</td>
                    <td>{{manifestData.valeurAttendue}}</td>
                    <td>{{manifestData.messageErreur}}</td>
                    <td>{{manifestData.details}}</td>
                    <td>
                      <div ng-if="manifestData.nivImportanceNiveau =='FAIBLE'">

                              <!-- code to render a large video block-->

                                <img src="../../emoticons/green.png"/> {{manifestData.nivImportanceNiveau}}
                      </div>
                        <div ng-if="manifestData.nivImportanceNiveau =='MOYENNE'">

                                <!-- code to render a large video block-->
                                  <img src="../../emoticons/yellow.png"/> {{manifestData.nivImportanceNiveau}}

                        </div>
                          <div ng-if="manifestData.nivImportanceNiveau =='HAUTE'">
                                  <!-- code to render a large video block-->
                                    <img src="../../emoticons/red.png"/> {{manifestData.nivImportanceNiveau}}
                          </div>
                          <div ng-if="manifestData.nivImportanceNiveau =='OPTIONAL'">
                                    <!-- code to render a large video block-->
                                <img src="../../emoticons/blue.png"/> {{manifestData.nivImportanceNiveau}}
                          </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="manifest-datamyAbstract-detail({id:manifestData.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="manifest-datamyAbstract.edit({id:manifestData.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="manifest-datamyAbstract.delete({id:manifestData.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
