
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPlayingLabel" data-translate="abstractApp.playing.home.createOrEditLabel">Create or edit a Playing</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.playing.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.playing.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.playing.commande" for="field_commande">Commande</label>
            <select class="form-control" name="commande" ng-model="vm.playing.commande" id="field_commande" required>
                <option value="LIVE" data-translate="abstractApp.Commandes.LIVE">LIVE</option>
                <option value="CATCHUP" data-translate="abstractApp.Commandes.CATCHUP">CATCHUP</option>
                <option value="VODPLAYOUT" data-translate="abstractApp.Commandes.VODPLAYOUT">VODPLAYOUT</option>
                <option value="VODPREPACKED" data-translate="abstractApp.Commandes.VODPREPACKED">VODPREPACKED</option>
                <option value="NTC" data-translate="abstractApp.Commandes.NTC">NTC</option>
                <option value="NPVR" data-translate="abstractApp.Commandes.NPVR">NPVR</option>
                <option value="STARTOVER" data-translate="abstractApp.Commandes.STARTOVER">STARTOVER</option>
            </select>
            <div ng-show="editForm.commande.$invalid">
                <p class="help-block"
                    ng-show="editForm.commande.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="abstractApp.playing.link" for="field_link">Link</label>
            <input type="text" class="form-control" name="link" id="field_link"
                    ng-model="vm.playing.link"
                    required />
            <div ng-show="editForm.link.$invalid">
                <p class="help-block"
                    ng-show="editForm.link.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setFileTest($file, vm.playing)">
            <label class="control-label" data-translate="abstractApp.playing.fileTest" for="field_fileTest">File Test</label>
            <div>
                <div ng-if="vm.playing.fileTest" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.playing.fileTestContentType, vm.playing.fileTest)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.playing.fileTestContentType}}, {{vm.byteSize(vm.playing.fileTest)}}</span>
                    <button type="button" ng-click="vm.playing.fileTest=null;vm.playing.fileTestContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setFileTest($file, vm.playing)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="fileTest" id="field_fileTest"
                    ng-model="vm.playing.fileTest"
                     />
            <input type="hidden" class="form-control" name="fileTestContentType" id="field_fileTestContentType"
                    ng-model="vm.playing.fileTestContentType" />
        </div>

        <div class="form-group">
            <label data-translate="abstractApp.playing.listchannels" for="field_listchannels">Listchannels</label>
            <select class="form-control" id="field_listchannels" multiple name="listchannels" ng-model="vm.playing.listchannels" ng-options="channels as channels.channel for channels in vm.channels track by channels.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="abstractApp.playing.theMode" for="field_theMode">The Mode</label>
            <select class="form-control" id="field_theMode" name="theMode" ng-model="vm.playing.theModeId" ng-options="mode.id as mode.name for mode in vm.modes"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
