
<div>
    <h2><span data-translate="abstractApp.maxHeightQlt.detail.title">Max Height Qlt</span> {{vm.maxHeightQlt.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="abstractApp.maxHeightQlt.typeStream">Type Stream</span></dt>
        <dd>
            <span>{{vm.maxHeightQlt.typeStream}}</span>
        </dd>
        <dt><span data-translate="abstractApp.maxHeightQlt.valeur">Valeur</span></dt>
        <dd>
            <span>{{vm.maxHeightQlt.valeur}}</span>
        </dd>
        <dt><span data-translate="abstractApp.maxHeightQlt.streamer">Streamer</span></dt>
        <dd>
            <span>{{vm.maxHeightQlt.streamer}}</span>
        </dd>
        <dt><span data-translate="abstractApp.maxHeightQlt.dateSup">Date Sup</span></dt>
        <dd>
            <span>{{vm.maxHeightQlt.dateSup | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="max-height-qltmyAbstract-detail.edit({id:vm.maxHeightQlt.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
