<div>
    <h2 data-translate="abstractApp.monitoring.home.title">Monitorings</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="monitoringmyAbstract.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="abstractApp.monitoring.home.createLabel">
                        Create new Monitoring
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'abstractApp.monitoring.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="attribut"><span data-translate="abstractApp.monitoring.attribut">Attribut</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="severite"><span data-translate="abstractApp.monitoring.severite">Severite</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="importance"><span data-translate="abstractApp.monitoring.importance">Importance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valeurAttendue"><span data-translate="abstractApp.monitoring.valeurAttendue">Valeur Attendue</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valeurObtenue"><span data-translate="abstractApp.monitoring.valeurObtenue">Valeur Obtenue</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateSup"><span data-translate="abstractApp.monitoring.dateSup">Date Sup</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="message"><span data-translate="abstractApp.monitoring.message">Message</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="infos"><span data-translate="abstractApp.monitoring.infos">Infos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="monitoring in vm.monitorings track by monitoring.id">
                    <td><a ui-sref="monitoringmyAbstract-detail({id:monitoring.id})">{{monitoring.id}}</a></td>
                    <td>{{monitoring.attribut}}</td>
                    <td>{{monitoring.severite}}</td>
                    <td>{{monitoring.importance}}</td>
                    <td>{{monitoring.valeurAttendue}}</td>
                    <td>{{monitoring.valeurObtenue}}</td>
                    <td>{{monitoring.dateSup | date:'medium'}}</td>
                    <td>{{monitoring.message}}</td>
                    <td>{{monitoring.infos}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="monitoringmyAbstract-detail({id:monitoring.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="monitoringmyAbstract.edit({id:monitoring.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="monitoringmyAbstract.delete({id:monitoring.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
